@using FoodStore.ViewModels.Admin
@model IEnumerable<BrandViewModel>

@{
    ViewData["Title"] = "Brands";
}

<h2 class="mb-4">All Brands</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning">No brands available.</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Country of Origin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var brand in Model.Select((value, index) => new { value, index }))
                {
                    <tr>
                        <td>@(brand.index + 1)</td>
                        <td>@brand.value.Name</td>
                        <td>@brand.value.CountryOfOrigin</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}