<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-top border-bottom box-shadow mb-3">
            <div class="container-fluid align-items-center d-flex justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-1" asp-controller="Cart" asp-action="Index">
                                <img src="@Url.Content("~/images/cart-icon.png")" alt="Cart" style="width: 20px; height: 20px;" />
                                <span>Cart</span>
                            </a>
                        </li>                           
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand category-bar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Fruits and vegetables">Fruits and vegetables</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Milk and eggs">Milk and eggs</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Meat and fish">Meat and fish</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Sausages and deli">Sausages and deli</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Bread and pastry">Bread and pastry</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Sweets and snacks">Sweets and snacks</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Package foods">Package foods</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Beverages">Beverages</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Baby products">Baby products</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Category" asp-route-category="Household products">Household products</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FoodStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
