@using FoodStore.ViewModels.Admin;
@model AddSupplierInputModel

@{
    ViewData["Title"] = "Add Supplier";
}

<h2 class="mb-4">Add a New Supplier</h2>

<form asp-area="Admin" asp-controller="Supplier" asp-action="AddSupplier" method="post" class="needs-validation" novalidate>
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Brand Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter supplier name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control" placeholder="Enter phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EmailAddress" class="form-label">E-mail</label>
        <input asp-for="EmailAddress" class="form-control" placeholder="Enter e-mail" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Supplier</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
