@{
    ViewData["Title"] = "Reports";
}

<h2 class="mb-4">Reports</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Orders" asp-controller="Reports" asp-area="Admin">Orders Report</a>
    </li>
</ul>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Products" asp-controller="Reports" asp-area="Admin">Products Report</a>
    </li>
</ul>